%% vim: et ts=4 sw=4 ft=erlang
{deps, [
    {cowboy, "0.8.6", {git, "git://github.com/extend/cowboy.git"}},
    {umb, ".*", {git, "git://github.com/seletskiy/umb.git"}},
    {sl, ".*", {git, "git://github.com/seletskiy/simple-logger.git"}},
    {jsonx, ".*", {git, "git://github.com/iskra/jsonx.git"}}
]}.
